/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;

}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.container {
    width: 70%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.button {
    background-color: #2700FF;
    font-size: .8em;
    color: white;
    padding: .4em 2em;
}

.button:hover {
    background-color: #159ff0;
}

.button-white {
    background-color: white;
    font-size: .8em;
    color: black;
    padding: .4em .4em;
    min-width: 200px;
    text-align: center;
}

.btn-inline-block {
    display: inline-block;
}

.mt-8 {
    margin-top: 8em;
}

p {
    font-size: .9em;
}

h3 {
    padding-bottom: 1em;
}


/* HEADER */
.header-menu {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100;
}

.header-menu > .col{
    height: 70px;
}

.col-logo {
    width: 50%;
}

.col-btn {
    width: 50%;
    text-align: right;
}

#logo {
    width: 100px;
    vertical-align: middle;
    margin-left: 1em;
}

ul, li {
    display: inline-block;
}

.header-menu li {
    padding-left: 1em;
    line-height: 70px;
    color: black;
    font-size: .9em;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-button {
    margin: 0 1em;
}

/* JUMBOTRON */
.jumbotron {
    background-color: #b4d0e7;
    height: 500px;
    margin-top: 3em;
}

.jumbo-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 2em;
}

.jumbo-title {
    font-size: 2.5em;
    font-weight: bold;
    padding-bottom: 1em;
}

.col-text {
    width: 35%;
}

.small-font {
    font-size: .7em;
    margin-top: 1em;
}

.col-img {
    width: 65%;
}

.jumbo-img {
    width: 85%;
}

/* BUSINESS SECTION */
.card-title form {
    margin: 2em 0;
}

.card-col {
    width: 100%;
}

.card-col > .col {
    width: calc((100% / 3) - 30px);
}

.card-col-center {
    margin: 0 45px;
}

.card-col > .col {
    min-height: 800px;
    border: 1px solid lightgrey;
}

.symbols {
    display: inline-block;
    color: black;
}

.card-title-abbonamento {
    padding: 1em 2em;
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.card-info {
    padding: 1em;
}

.business-container li,
.business-container p {
    font-size: .7em;
    padding-bottom: 1em;
}

.btn-center {
    text-align: center;
    padding: 1em 0;
}

.link-abbonamento > p {
    padding: 1em 0;
}

.link-abbonamento > .bb-grey {
    display: inline-block;
    font-size: .8em;
    padding-bottom: 2em;
    border-bottom: 1px solid lightgray;
}

.link {
    font-size: .8em;
    text-decoration: underline;
    color: #2700FF;
}

.ul-abbonamento > :first-child {
    padding-top: 2em;
}

.check-symbol {
    display: inline-block;
    color: #2700FF;
}

.class-team-abbonamento {
    border-bottom: 1px solid lightgray;
    padding: .5em;
    text-align: center;
}

.card-team {
    margin-top: 2em;
    border: 1px solid lightgray;
}

.card-team > .col {
    margin-top: 1em;
}

.col-team-text > h5 {
    padding-bottom: 1em;
}

.col-team-text {
    width: 70%;
    padding: 0 1em;
}

.col-team-btn {
    width: 30%;
}

/* PARTNER SECTION  */
.col-partner-img img {
    width: 85%;
}

.col-partner-img {
    width: 60%;
}

.col-partner-text{
    width: 40%;
    padding: 2em 0;
}

.col-partner-text > p {
    font-size: .9em;
    padding-bottom: 2em;
}

.btn-border {
    border: 1px solid black;
}

/* OPERATION SECTION */
.operation-cards h2 {
    margin: 2em 0;
}

.col-top, .col-bottom {
    width: calc((100% / 3) - 20px);
}

.col-op-center {
    margin: 0 30px;
}

.bottom-cards {
    margin-top: 2em;
}


/* CLIENT SECTION */
.client-container {
    width: 100%;
    height: 25vw;
    margin-top: 2em;
}

.col-client-img {
    width: 25vw;
    height: 100%;
}

.col-client-text {
    width: calc(100% - 50vw);
    height: 100%;
    background-color: #f5f5f5;
}

.col-client-logo {
    width: 50%;
    height: 50%;
    padding: 2.5em; 
    position: relative;
}

.col-client-logo > img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

.col-a {
    background-color: #a3d39b;
    border: 5px solid #d0e9cd;
}

.col-b {
    background-color: #61082b;
}

.col-c {
    background-color: #0093ce;
}

.col-d {
    background-color: #ff1d1d;
}

.col-e {
    background-color: #d5001e;
}

.col-f {
    background-color: #b4d0e7;
}

.col-g {
    background-color: #0d2481;
}

.col-h {
    background-color: #ffd830;
}

.col-client-text {
    padding: 2em;
    overflow: auto;
}
.col-client-text > img {
    width: 20%;
}

.col-client-text > p {
    padding-top: 2em;
    font-size: .8em;  
}


/* CALL TO ACTION */
.cta-bg {
    background-color: #b4d0e7;
}

.cta-text {
    width: 65%;
}

.cta-btn {
    width: 35%;
}

.col-cta > h2 {
    color: #61082b;

}

.col-cta {
    padding: 5em 2em;
}

/* DOMANDE SECTION  */
.question > li {
    padding: 1.5em 0;
}

.question > li {
    border-top: 1px solid lightgray;
    font-size: .8em;
    font-weight: bold;
}

.arrow {
    padding-left: 20em;
    padding-right: 1em;
}

.question > li:last-child {
    border-bottom: 1px solid lightgray;
}


/* FOOTER */
footer {
    height: 400px;
    background-color: black;
    color: white;
}

.container-footer {
    width: 90%;
    margin: 0 auto;
    padding: 4em;
}

.container-footer > .col {
    width: 20%;
    min-height: 250px;
}

.container-footer h4 {
    padding-bottom: 1.5em;
}

footer li {
    font-size: .8em;
    display: block;
    line-height: 1.7em;
}

.col-drop {
    border-bottom: 1px solid white;
}

.end-footer {
    font-size: .7em;
}