/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-size: 62,5%;
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;

}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.container {
    width: 80%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

/* HEADER */
.header-menu > .col{
    height: 70px;
}

.col-logo {
    width: 50%;
}

.col-btn {
    width: 50%;
    text-align: right;
}

#logo {
    width: 100px;
    vertical-align: middle;
    margin-left: 1em;
}

ul, li {
    display: inline-block;
}

li {
    padding-left: 1em;
    line-height: 70px;
    color: black;
    font-size: .9em;
}

a {
    text-decoration: none;
    color: inherit;
}

.button {
    margin: 0 1em;
    background-color: #2700FF;
    font-size: .8em;
    color: white;
    padding: .4em 1em;
}

/* JUMBOTRON */
.jumbotron {
    background-color: #b4d0e7;
    height: 400px;
}

.jumbo-container {
    width: 90%;
    margin: auto;
}

.jumbo-title {

    /* TEST */
    border: 1px solid fuchsia;
}

.jumbo-col > .col {

    /* TEST */
    height: 300px;
    border: 1px solid orange;
}

.col-text {
    width: 35%;
}

.col-img {
    width: 65%;
}

/* BUSINESS SECTION */
.card-title {

    /* TEST */
    height: 70px;
    border: 1px solid blueviolet;
}

.card-col > .col {
    width: calc((100% / 3) - 60px);

    /* TEST */
    height: 600px;
    border: 1px solid blue;
}

.card-col-center {
    margin: 0 30px;
}

.card-team > .col {

    /* TEST */
    margin-top: 2em;
    height: 60px;
    border: 1px solid greenyellow;
}

.col-team-text {
    width: 80%;
}

.col-team-btn {
    width: 20%;
}

/* PARTNER SECTION  */
.partner {
    margin-top: 2em;
}
.partner .col {

    /* TEST */
    height: 200px;
    border: 1px solid brown;
}

.col-partner-img {
    width: 60%;
}

.col-partner-text{
    width: 40%;
}

/* OPERATION SECTION */
.operation-cards h2 {
    margin: 2em 0;

    /* TEST */
    height: 50px;
    border: 1px solid slategrey;
}

.col-top, .col-bottom {
    width: calc((100% / 3) - 40px);

    /* TEST */
    height: 100px;
    border: 1px solid red;
}

.col-op-center {
    margin: 0 20px;
}

/* CLIENT SECTION */
.client-container {
    width: 100%;
}

.client-text {

    /* TEST */
    height: 50px;
    border: 1px solid brown;
}

.client-container > .col {

    /* TEST */
    height: 200px;
    border: 1px solid black;
}

.col-client-img {
    width: 30%;
}

.col-client-text {
    width: 40%;
}

/* CALL TO ACTION */
.cta-bg {
    height: 200px;
    background-color: lightblue;
}

.container-footer {
    width: 90%;
    margin: 0 auto;
}

.col-cta {
    width: 50%;

    /* TEST */
    height: 90px;
    border: 1px solid yellow;
}


/* FOOTER */
.container-footer > .col {
    width: 20%;

    /* TEST */
    height: 130px;
    border: 1px solid darkred;
}

