/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;

}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.container {
    width: 70%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

.button {
    background-color: #2700FF;
    font-size: .8em;
    color: white;
    padding: .4em 1em;
}

.mt-8 {
    margin-top: 8em;
}

h3 {
    padding-bottom: 1.5em;
}

p {
    font-size: .9em;
}

/* HEADER */
.header-menu {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.header-menu > .col{
    height: 70px;
}

.col-logo {
    width: 50%;
}

.col-btn {
    width: 50%;
    text-align: right;
}

#logo {
    width: 100px;
    vertical-align: middle;
    margin-left: 1em;
}

ul, li {
    display: inline-block;
}

li {
    padding-left: 1em;
    line-height: 70px;
    color: black;
    font-size: .9em;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-button {
    margin: 0 1em;
}

/* JUMBOTRON */
.jumbotron {
    background-color: #b4d0e7;
    height: 500px;
    margin-top: 3em;
}

.jumbo-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 2em;
}

.jumbo-title {
    font-size: 2.5em;
    font-weight: bold;
    padding-bottom: 1em;
}

.col-text {
    width: 35%;
}

.jumbo-btn {
    display: inline-block;
}

.small-font {
    font-size: .7em;
    margin-top: 1em;
}

.col-img {
    width: 65%;
}

.jumbo-img {
    width: 85%;
}

/* BUSINESS SECTION */
.card-title form {
    margin: 2em 0;
}

.card-col {
    width: 100%;
}

.card-col > .col {
    width: calc((100% / 3) - 30px);
}

.card-col-center {
    margin: 0 45px;
}

.card-col > .col {
    min-height: 600px;
    border: 1px solid lightgrey;
}

.card-title-abbonamento {
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.symbols {
    display: inline-block;
    color: black;
}

.card-title-abbonamento > span{
    padding: 1em 0;
    
}

.card-abbonamento {
    padding: 1em;
}

.card-team > .col {

    /* TEST */
    margin-top: 2em;
    height: 60px;
    border: 1px solid greenyellow;
}

.col-team-text {
    width: 80%;
}

.col-team-btn {
    width: 20%;
}

/* PARTNER SECTION  */
.partner {
    margin-top: 2em;
}

.col-partner-img img {
    width: 85%;
}

.partner .col {

    /* TEST */
    /* border: 1px solid brown; */
}

.col-partner-img {
    width: 60%;
}

.col-partner-text{
    width: 40%;
}

/* OPERATION SECTION */
.operation-cards h2 {
    margin: 2em 0;

    /* TEST */
    height: 50px;
    border: 1px solid slategrey;
}

.col-top, .col-bottom {
    width: calc((100% / 3) - 40px);

    /* TEST */
    height: 100px;
    border: 1px solid red;
}

.col-op-center {
    margin: 0 20px;
}

/* CLIENT SECTION */
.client-container {
    width: 100%;
}

.client-text {

    /* TEST */
    height: 50px;
    border: 1px solid brown;
}

.client-container > .col {

    /* TEST */
    height: 200px;
    border: 1px solid black;
}

.col-client-img {
    width: 30%;
}

.col-client-text {
    width: 40%;
}

/* CALL TO ACTION */
.cta-bg {
    height: 200px;
    background-color: lightblue;
}

.container-footer {
    width: 90%;
    margin: 0 auto;
}

.col-cta {
    width: 50%;

    /* TEST */
    height: 90px;
    border: 1px solid yellow;
}


/* FOOTER */
.container-footer > .col {
    width: 20%;

    /* TEST */
    height: 130px;
    border: 1px solid darkred;
}

